@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
#hero {
  width: 100%;
  min-height: 100vh;
  background: #f3f1ef;
  position: relative;
  nav {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    i {
      font-size: 1.4rem;
      color: #ff8405;
      opacity: 0.8;
      cursor: pointer;
    }
    ul {
      @include flexCenter();
      li {
        margin: 0 1.5rem;
        list-style: none;
        a {
          text-decoration: none;
          color: #000;
          font-weight: bold;
          font-family: "Roboto Slab", serif;
        }
      }
    }
    img {
      height: 80%;
      object-fit: cover;
    }
    .hamContainer {
      width: 3rem;
      height: 2rem;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-end;
      cursor: pointer;
      > * {
        width: 100%;
        height: 3px;
        background-color: #555;
        border-radius: 10px;
        &:nth-child(1) {
          width: 70%;
        }
        &:nth-child(3) {
          width: 60%;
        }
      }
    }
  }

  .mainContainer {
    width: 80%;
    min-height: 90vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    > div {
      width: 50%;
      height: 100%;
      @include flexCenter();
      flex-direction: column;
    }

    .C_phrase {
      padding: 20px;
      h1 {
        font-family: "Roboto Slab", serif;
        font-size: 3rem;
        padding: 2rem 0;
      }
      p {
        font-family: "Roboto Slab", serif;
        small {
          color: red;
        }
      }
      .search_wrapper {
        width: 90%;
        height: 3rem;
        margin-top: 2rem;
        @include flexCenter();
        input {
          width: 75%;
          height: 2.5rem;
          border: none;
          padding: 10px;
          &:focus {
            outline: none;
          }
        }
        button {
          width: 25%;
          height: 2.5rem;
          border: none;
          background: #ff8405;
          color: azure;
          cursor: pointer;
          transition: 0.5s;
          &:hover {
            background: red;
          }
        }
      }
    }
    .sec_gallery {
      font-family: "Roboto Slab", serif;
      img {
        max-width: 15rem;
      }
      p {
        font-size: 1.54rem;
        margin: 1rem 0 0.2rem 0;
      }
      h6 {
        font-size: 0.8rem;
      }
    }
  }
  .scroll__btn {
    position: absolute;
    bottom: -25px;
    left: 50%;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    transform: translateX(-50%);
    background: #ffffff;
    border: 5px solid #f3f1ef;
    cursor: pointer;
    @include flexCenter();
    span {
      font-size: 2.2rem;
      color: #555;
    }
  }
}

#bestSellers,
#otherBooks {
  width: 100%;
  min-height: 100vh;
  background: #fff;
  margin-top: 5rem;
  > h2 {
    text-align: center;
    font-family: "Roboto Slab", serif;
    padding: 40px 0 20px 0;
    font-size: 3rem;
    text-transform: uppercase;
  }
  .cardsContainr {
    width: 95%;
    min-height: 70vh;
    margin: 1rem auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;

    .Book {
      width: 16rem;
      min-height: 25rem;
      border-radius: 4px;
      padding: 10px 5px;
      transition: 0.4s ease-in;
      &:hover {
        background: rgba(85, 85, 85, 0.034);
      }
      > img {
        width: 100%;
        height: 20rem;
        object-fit: contain;
      }
      .bok_details {
        width: 100%;
        min-height: 20%;
        font-family: "Roboto Slab", serif;
        padding: 10px;
        position: relative;
        h2 {
          font-size: 1.2rem;
          padding: 5px 30px 5px 0;
          a {
            color: #000;
            text-decoration: none;
          }
        }
        span {
          position: absolute;
          right: 0;
          top: 0;
          color: #ff8405;
        }
      }
    }
  }
}

#findme {
  width: 100%;
  height: 100vh;
  background-color: #f3f1ef;
  display: flex;
  > div {
    width: 50%;
    height: 100%;
    @include flexCenter();
  }
  .phSide {
    img {
      width: 70%;
    }
  }
  .findmeDetails {
    padding: 15px;
    flex-direction: column;
    h1 {
      font-size: 4rem;
      font-family: "Roboto Slab", serif;
      margin-bottom: 3rem;
    }
    p {
      font-family: "Inconsolata", monospace;
      line-height: 30px;
      color: #555;
    }
    a {
      background-color: #00bfa6;
      padding: 15px 25px;
      text-decoration: none;
      margin: 2rem 0;
      font-family: "Roboto Slab", serif;
      color: #fff;
      transition: 0.4s ease-in;
      &:hover {
        background-color: #ff8405;
      }
    }
  }
}

#askForBook {
  width: 100%;
  height: 40vh;
  background: rgb(245, 243, 239);
  background: linear-gradient(
    52deg,
    rgba(245, 243, 239, 1) 0%,
    rgba(255, 255, 255, 1) 52%,
    rgba(255, 255, 255, 1) 100%
  );
  padding: 10px 40px;
  @include flexCenter();
  justify-content: space-evenly;
  box-shadow: -2px 9px 20px #00000007;
  font-family: "Roboto Slab", serif;
  img {
    height: 100%;
  }
  > div {
    height: 100%;
    h4 {
      margin-top: 2rem;
    }
    h2 {
      padding: 20px 0;
      font-size: 2rem;
      margin-bottom: 1.5rem;
    }
    a {
      background-color: #00bfa6;
      padding: 15px 25px;
      text-decoration: none;
      margin: 1rem 0;
      font-family: "Roboto Slab", serif;
      color: #fff;
      transition: 0.4s ease-in;
      &:hover {
        background-color: #ff8405;
      }
    }
  }
}

#feedBack {
  width: 100%;
  min-height: 70vh;
  font-family: "Roboto Slab", serif;
  h1 {
    text-align: center;
    margin-top: 2rem;
    font-size: 3.5rem;
  }
  .Container {
    max-width: 300%;
    min-height: 80vh;
    display: flex;
    gap: 0.5rem;
    position: relative;
    p {
      color: #555;
    }

    .wrrapper {
      width: 300%;
      min-height: 80vh;
      display: flex;
      animation: SliderAnimation 99s ease infinite;
      animation-delay: 10s;
      @keyframes SliderAnimation {
        0% {
          transform: translateX(0);
        }
        15% {
          transform: translateX(0);
        }
        30% {
          transform: translateX(-100%);
        }
        50% {
          transform: translateX(-100%);
        }
        60% {
          transform: translateX(-100%);
        }
        60% {
          transform: translateX(-200%);
        }
        80% {
          transform: translateX(-200%);
        }
        90% {
          transform: translateX(-200%);
        }
        100% {
          transform: translateX(0);
        }
      }
      .Review {
        width: 26rem;
        min-height: 18rem;
        padding: 5px 25px;
        margin: 1rem;
        cursor: pointer;
        user-select: none;
        @include flexCenter();
        flex-direction: column;
        gap: 1rem;
        .starWrapper {
          max-width: 10rem;
          height: 2.5rem;
          @include flexCenter();
          gap: 5px;
          color: rgb(250, 216, 23);
          margin: 1.2rem 0.2rem;
          font-size: 1.2rem;
          align-self: start;
        }
      }
    }

    .cosReviw {
      width: 100%;
      height: 3.6rem;
      margin-top: 1rem;
      @include flexCenter();
      gap: 1.4rem;
      color: #555;
      justify-content: flex-start;

      img {
        height: 3rem;
        width: 3rem;
        object-fit: cover;
        border-radius: 50%;
        margin-left: 1rem;
      }
    }
  }
}

footer {
  width: 100%;
  height: 40vh;
  @include flexCenter();
  gap: 0.5rem;
  > div {
    width: 32%;
    height: 100%;
    font-family: "Roboto Slab", serif;
    color: #555;
    h4 {
      text-align: center;
      padding: 1rem 0;
      font-size: 1.9rem;
      color: #000;
    }
    li {
      list-style: none;
      margin: 1rem 0 0 40%;
      i {
        font-size: 1.1rem;
        margin: 0 10px;
      }
      a {
        text-decoration: none;
        color: #555;
      }
    }
  }
}
